.icon-fx {
  color: rgb(175, 175, 175);
}

.icon-fx:hover {
  color: rgb(255, 255, 255);
}

.div-bg-2 {
  background-color: #1a1a1a;
}
.dot {
  height: 30px;
  width: 30px;
  background-color: #1a1a1a;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.instruction-fx {
  font-size: 12px;
  font-weight: bolder;
}
.btn-fx {
  font-size: 15px !important;
}
.expe-img-fx {
  width: 100%;
}

.underline-hr {
  border: 2px solid #1a1a1a;
  width: 25%;
}

.img-fx {
  width: 23rem;
}

.contact-b-fx {
  background-color: #b23121;
  color: white;
  border: none;
}
.contact-b-fx:hover {
  background-color: white;
  color: #b23121 !important;
  border: none;
}

.contact-b2-fx {
  background-color: #188a42;
  color: white;
  border: none;
}
.contact-b2-fx:hover {
  background-color: white;
  color: #188a42 !important;
  border: none;
}

@media (max-width: 991.98px) {
  .button-intro {
    margin: 0 !important;
  }
  .contact-media h4 {
    font-size: 1.35em !important;
  }
  .contact-b-fx {
    font-size: 1.5em !important;
  }
  .contact-b2-fx {
    font-size: 1.5em !important;
  }
  .div-intro {
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 2rem;
  }

  .div-about {
    text-align: left !important;
  }

  h1 {
    font-size: 1.5rem !important;
  }
  h2 {
    font-size: 1.35rem !important;
  }
  h3 {
    font-size: 1.15rem !important;
  }
  h4 {
    font-size: 1rem !important;
  }
  h5 {
    font-size: 0.9rem !important;
  }
  h6 {
    font-size: 0.85rem !important;
  }
  .header-footer {
    font-size: 1.25rem !important;
  }
  .img-fx {
    width: 15rem !important;
  }
  .img-contact {
    width: 15rem !important;
  }
  .span-footer {
    font-size: 0.75em;
  }
  .media-footer {
    padding: 0 !important;
    margin: 0 !important;
  }
}
