.btn-fx {
  font-size: 15px !important;
}
.contact-b-fx {
  background-color: #b23121;
  color: white;
  border: none;
}
.contact-b-fx:hover {
  background-color: white;
  color: #b23121 !important;
  border: none;
}

.contact-b2-fx {
  background-color: #188a42;
  color: white;
  border: none;
}
.contact-b2-fx:hover {
  background-color: white;
  color: #188a42 !important;
  border: none;
}
.div-bg-2 {
  background-color: #1a1a1a;
}
.div-intro {
  margin-top: 6rem;
}
.dot {
  height: 30px;
  width: 30px;
  background-color: #1a1a1a;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.expe-img-fx {
  width: 100%;
}

.icon-fx {
  color: rgb(175, 175, 175);
}

.icon-fx:hover {
  color: rgb(255, 255, 255);
}

.instruction-fx {
  font-size: 12px;
  font-weight: bolder;
}

.img-fx {
  width: 30rem;
}
.navbar-brand {
  padding-left: 3rem;
}
.underline-hr {
  border: 2px solid #1a1a1a;
  width: 25%;
}

@media (max-width: 991.98px) {
  /* DIV 1 */
  .div-intro {
    margin-top: 4rem;
  }
  .main-col-1 {
    display: flex;
    justify-content: center;
  }
  .img-fx {
    width: 22rem;
    height: 22rem;
  }
  .main-col-2 h1 {
    font-size: 1.5rem;
  }
  .main-col-2 h4 {
    font-size: 0.85rem;
  }
  .btn {
    font-size: 0.65rem !important;
    padding: 0.5rem !important;
  }
}

@media (max-width: 576px) {
  /* DIV 1 */
  .btn {
    font-size: 0.6rem !important;
    padding: 0.35rem !important;
  }
  .main-col-2 h1 {
    font-size: 1rem;
  }
  .main-col-2 h4 {
    font-size: 0.65rem;
  }
  .div-intro {
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 2rem;
  }
  .header-footer {
    font-size: 1.25rem !important;
  }
  .img-fx {
    width: 13rem;
    height: 13rem;
  }
  .img-contact {
    width: 15rem !important;
  }
  .contact-media h4 {
    font-size: 1.35em !important;
  }
  .contact-b-fx {
    font-size: 1.5em !important;
  }
  .contact-b2-fx {
    font-size: 1.5em !important;
  }
  .navbar-brand {
    padding-left: 1rem;
    font-size: 1rem !important;
  }
  .span-footer {
    font-size: 0.75em;
  }
}
